<h1>About Blogs Posting</h1>
<p>Apparently you have stubled upon a page that is still in progress but eventually this is the about to page of this app.</p>
<p>This is a simple app to store all your ideas, learning, stories and experiences and you may choose to let other users view your blogs or keep them private, for your eyes only.</p>