<h1>Welcome</h1>
<p>Welcome to Blog Posting 101</p>
<p>Post your stories, blogs, tutorials, ideas and anything you can think off. From the best and worst experiences of your life. You may choose to publicly post or keep it private as your own personal diary.</p>
<a class="btn red darken-1" href="/auth/google"><i class="fa ga-google left"></i>  Login with Google</a>